### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.env
pom.xml
postgresql-42.7.4.jar
docker-compose.yml
Reservation_hotel_P2.iml
untitled

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store